input {
  padding: 5px;
  border-radius: 10px;
  border: 1px solid gray;
  width: 30%;
}

button {
  padding: 3px 12px;
  border-radius: 5px;
  margin: 5px;
}

a{
  text-decoration: none;
  padding: 0px 5px;
  transition: ease-out 1.6s;
  border-radius: 5px;
}

a:hover {
  background-color: rgb(170, 222, 237);
}
span { 
  color: rgba(16, 9, 75, 0.953);
}
table {
  font-size: 1.3em;
  color: rgb(96, 0, 0);
  width: 300px;
  text-align: center;
}

td{
  padding: 5px 10px;
  border: 1px solid lightgray;
  
}

.liked {
  background-color: dodgerblue;
  color: white;
}

form > *{
  margin: 15px 0px;
}
*{
  font-family : cursive;
}

.logout:hover{
  cursor: pointer;
  opacity: 0.66;
}